.login {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.login>img {
  object-fit: contain;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login>form {
  display: flex;
  flex-direction: column;
}

.login>form>input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login>form>button {
  width: 365px;
  height: 50px;
  font-size: large;
  border: none;
  background-color: #0074b1;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login>form>button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login>form>button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login>form>button:hover span {
  padding-right: 25px;
}

.login>form>button:hover span:after {
  opacity: 1;
  right: 0;
}


.login__register {
  color: #0074b1;
  cursor: pointer;
  margin-left: 5px;
}

.login>p {
  margin-top: 20px;
}
