.widgets {
  flex: 0.2;
  position: sticky;
  top: 80px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
}

.widgets__header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}

.widgets__header > h2 {
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 10px;
}

.widgets__article {
  display: flex;
  cursor: pointer;
  padding: 10px;
}

.widgets__article:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: #0177b7;
  margin-right: 5px;
}

.widgets__articleRight {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.widgets__articleRight > h4 {
  font-weight: 500;
}

.widgets__articleRight > p {
  font-size: 13px;
  color: gray;
}
